a {
  text-decoration: none;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  list-style: none;
  border: none;
}

.noway {
  border: #000000;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.button {
  cursor: pointer;
}

.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Raleway";
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

:root {
  --header-color: #000000;
  --padding-often: 94px;
  --blueone: #2196f3;
  --whiteone: #ffffff;
  --main-font: font;
}

.logo-blue {
  color: var(--header-color);
}

.header {
  background-color: var(--whiteone);
  border-bottom: 1px solid #ececec;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}

.mob__header-button {
  border: none;
  background-color: #fff;
  margin-left: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob__header-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob__header-button {
    display: none;
  }
}
.mob__header-button:hover {
  fill: var(--blueone);
}
.mob__header-button:focus {
  fill: var(--blueone);
}

.logo-main {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--blueone);
}
@media screen and (max-width: 768px) {
  .logo-main {
    margin-right: 0;
  }
}

.menu-list {
  display: flex;
  flex-direction: row;
}
.menu-list__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
.menu-list__text:hover {
  color: var(--blueone);
}
.menu-list:last-child(3) {
  margin-right: 0px;
}
.menu-list__text:focus {
  color: var(--blueone);
  outline: none;
}
.menu-list__portfolio-after::after {
  content: "";
  width: 79px;
  height: 4px;
  background-color: var(--blueone);
  display: flex;
  border-radius: 2px;
  top: 29px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-list__portfolio-after::after {
    top: 35px;
  }
}
.menu-list__text-after::after {
  content: "";
  width: 49px;
  height: 4px;
  background-color: var(--blueone);
  display: flex;
  border-radius: 2px;
  top: 29px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-list__text-after::after {
    top: 35px;
  }
}

.header__contacts {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    flex-direction: column;
  }
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: var(--blueone);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .mail {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mail {
    margin-right: 50px;
    margin-left: 175px;
  }
}
.mail:hover {
  color: var(--blueone);
}
.mail:focus {
  color: var(--blueone);
  outline: none;
}

.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: var(--blueone);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .phone {
    margin-right: 50px;
  }
}
.phone:hover {
  color: var(--blueone);
}
.phone:focus {
  color: var(--blueone);
  outline: none;
}

.icon {
  fill: currentColor;
  margin-right: 1px;
}

.no-scroll {
  overflow: hidden;
}

.main-header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--whiteone);
  left: 0px;
  border-color: var(--whiteone);
  border-radius: 4px;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-header {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main-header {
    font-size: 44px;
    line-height: 1.36;
    top: 80px;
    max-width: 696px;
    margin-bottom: 30px;
  }
}

.main-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    display: flex;
    background: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-hero2x.jpg);
  }
}

.main-header-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--whiteone);
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  background: var(--blueone);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: var(--padding-often);
    padding-top: var(--padding-often);
  }
}
.features__items {
  margin-right: 0px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__items {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__items {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__card {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .features__card {
    align-items: center;
  }
}
.features__icon {
  width: 100%;
  height: 120px;
  padding: 25px 75px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__icon {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    display: flex;
    align-items: center;
    width: 270px;
    padding: 25px 100px;
  }
}
.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .features__text {
    max-width: 270px;
  }
}
.features__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    gap: 30px;
  }
}

.can-do__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.can-do__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a .can-do__img {
  border: 0px;
}

.section-can-do {
  display: none;
  padding-bottom: var(--padding-often);
}
@media screen and (min-width: 1200px) {
  .section-can-do {
    display: block;
    padding-bottom: var(--padding-often);
    padding-top: var(--padding-often);
  }
}

.can-do__text {
  font-family: "Roboto";
  font-style: Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--whiteone);
  padding: 27px 82px;
  text-transform: uppercase;
}

.can-do__img {
  position: relative;
}

.can-do__bg {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  min-width: 370px;
  bottom: 3px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__img {
  display: block;
  width: 100%;
  height: auto;
}
.team__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767) {
  .team__list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    gap: 30px;
    margin-bottom: -30px;
  }
}
.team__item {
  background: var(--whiteone);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  height: 1.03;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(even) {
    margin-right: 0px;
  }
}
.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__skill {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team__block {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--whiteone);
}
.team__soc--list {
  display: flex;
  justify-content: center;
}
.team__soc--link {
  width: 44px;
  height: 44px;
  background-color: var(--whiteone);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--blueone);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--item {
  margin-right: 10px;
}
.team__soc--icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--icon:hover {
  fill: var(--whiteone);
}
.team__soc--icon:focus {
  background-color: #757575;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--link:hover {
  background-color: var(--blueone);
}
.team__soc--link:hover .team__soc--icon {
  fill: #fdfeff;
}
.team__soc--link:focus .team__soc--icon {
  background-color: var(--blueone);
  fill: var(--whiteone);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--link:focus {
  background-color: var(--blueone);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: var(--padding-often);
    padding-top: var(--padding-often);
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-bottom: -30px;
}
@media screen and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    max-width: 1200px;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item {
  width: calc(16.6666666667% - 30px);
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc(33.3333333333% - 30px);
    margin-bottom: 30px;
  }
}
.clients__icon {
  width: 100%;
  margin: 16px 32px;
}

.clients__link:hover {
  border: 1px solid var(--blueone);
  fill: var(--blueone);
}

.clients__link:focus {
  background-color: var(--whiteone);
  fill: var(--blueone);
  outline: none;
  border: 1px solid var(--blueone);
}

.logo-white {
  color: var(--whiteone);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
}

.footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-item {
  text-align: center;
  margin-top: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-item {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-item {
    text-align: start;
  }
}
.footer-item:first-child {
  margin-top: 0;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

.footer-header {
  text-align: center;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whiteone);
  padding-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-header {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-header {
    text-align: start;
  }
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blueone);
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__soc {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__soc {
    display: flex;
    align-items: baseline;
  }
}

.left-side {
  display: flex;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .right-side {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .right-side {
    margin-left: 60px;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-soc-list {
    margin-bottom: 40px;
  }
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item {
  margin-right: 10px;
}

.footer-soc-icon {
  fill: var(--whiteone);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon:hover {
  fill: var(--whiteone);
}

.footer-soc-link:focus {
  background-color: var(--blueone);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: var(--blueone);
}

.footer-soc-link:hover .footer-soc-icon {
  fill: #fdfeff;
}

.footer-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  padding: 0px 0px 0px 16px;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-input:focus {
  border-color: var(--blueone);
  transition-property: border, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover {
  border-color: var(--blueone);
  transition-property: border, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-content {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-content {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.submit-mail {
  background: var(--blueone);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  fill: var(--whiteone);
  margin-left: 10px;
  position: relative;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--whiteone);
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .submit-mail {
    margin: 0 auto;
  }
}

.submit-mail:hover {
  border-color: var(--whiteone);
  border: -1px solid grey;
  box-sizing: border-box;
  transition-property: border-color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.submit-mail:focus {
  border-color: var(--whiteone);
  border: -1px solid grey;
  box-sizing: border-box;
  transition-property: border-color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-content {
  display: flex;
}

.icon-send-footer {
  margin-left: 10px;
}

.footer-send-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: var(--whiteone);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-send-header {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
.portfolio-header {
  display: none;
}

.portfolio-rubrication {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-rubrication {
    padding-top: var(--padding-often);
    padding-bottom: var(--padding-often);
  }
}

.portfolio-rubrication-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: var(--whiteone);
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 21px;
  transition-property: border, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-rubrication-button {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-rubrication-button {
    margin-bottom: 0;
  }
}

.portfolio-rubrication-button:hover {
  background: var(--blueone);
  color: var(--whiteone);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-rubrication-item {
  margin-right: 8px;
}

.portfolio-rubrication-button:focus {
  background: var(--blueone);
  color: var(--whiteone);
  outline: none;
}

.portfolio-rubrication-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-rubrication-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-rubrication-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 56px;
  }
}

.portfolio-projects-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: none;
  transition-property: border, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-projects-img {
  width: 370px;
}

.portfolio-projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  border-left: 1px solid #f0efef;
  border-right: 1px solid #f0efef;
}

.portfolio-projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-projects-item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-projects-item {
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-projects-item:last-child {
  margin-bottom: 0;
}

.portfolio-projects-name {
  margin-bottom: 4px;
}

.portfolio-projetcs-block {
  padding: 20px 24px;
  border-bottom: 1px solid #f0efef;
  border-left: 1px solid #f0efef;
  border-right: 1px solid #f0efef;
}

.portfolio-projects-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-projects-item:hover .project-top-text {
  transform: translateY(0%);
}

.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--whiteone);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 800ms, visibility 800ms, transform 10ms;
}

.backdrop.is-hidden .modal {
  transition: 1.9s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translate(-50%, -50%) rotatex(180deg) rotateY(180deg) scale(0);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--whiteone);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--whiteone);
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.icon-modal:hover {
  fill: var(--blueone);
  cursor: pointer;
}

.icon-modal:focus {
  outline: none;
}

.modal-button:focus .icon-modal {
  fill: var(--blueone);
}

.modal-button:focus {
  outline: none;
}

.icon-modal {
  fill: #000000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-family: "Roboto";
  font-style: Bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.modal-input:hover {
  cursor: pointer;
  border-color: var(--blueone);
}

.modal-input:focus {
  outline: none;
  border-color: var(--blueone);
}

.submit-button {
  font-family: "Roboto";
  font-style: Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--blueone);
  border: none;
  letter-spacing: 0.06em;
  color: var(--whiteone);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  padding: 10px 55px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.submit-button:hover {
  cursor: pointer;
  outline: auto;
}

.submit-button:focus {
  outline: auto;
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
  display: block;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.5);
  resize: none;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover {
  cursor: pointer;
  border-color: var(--blueone);
}

.modal-comment:focus {
  outline: none;
  border-color: var(--blueone);
}

.policy-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 4px;
  color: #757575;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    line-height: 0.58;
  }
}

.policy-ask {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.policy-link {
  color: var(--blueone);
  text-decoration: underline;
  outline: none;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .policy-link {
    font-size: 14px;
  }
}

.policy-link:focus {
  border: 1px solid var(--blueone);
  border-radius: 2px;
}

.policy-checkbox.is-hidden .policy-ask {
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000000;
  border-radius: 0.1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked + label::before {
  border-color: var(--blueone);
  background-color: var(--blueone);
  background-image: url(../images/SVG/galochka.svg);
  background-size: 11px 18px;
}

.custom-checkbox:focus + label::before {
  border: 1px solid var(--blueone);
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:hover + label::before {
  cursor: pointer;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.policy-ask {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-div {
  position: relative;
  margin-bottom: 10px;
  align-items: center;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:hover + .modal-icon {
  fill: var(--blueone);
  cursor: pointer;
}

.modal-input:focus + .modal-icon {
  fill: var(--blueone);
  cursor: pointer;
}

#editor {
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-size: 16px;
}

.mob__menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--whiteone);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-bottom: 48px;
  padding-top: 48px;
  transition: opacity 800ms, visibility 800ms, transform 10ms;
}
.mob__menu .container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.top_menu {
  width: 100%;
}

.mob__button {
  display: block;
  margin-left: auto;
  border: none;
  margin-bottom: 9px;
  background-color: #ffffff;
}
.mob__button:hover {
  fill: var(--blueone);
}
.mob__button:focus {
  fill: var(--blueone);
  outline: none;
}

.mob__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__list-text {
  color: black;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
}
.mob__list-text:hover {
  color: var(--blueone);
  cursor: pointer;
}
.mob__list-text:focus {
  color: var(--blueone);
  outline: none;
}
.mob__list-text .container {
  display: block;
}

.mob__mail {
  display: block;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: #757575;
}
.mob__mail:hover {
  color: var(--blueone);
}
.mob__mail:focus {
  color: var(--blueone);
  outline: none;
}

.mob__phone {
  display: block;
  color: black;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  margin-bottom: 32px;
  color: var(--blueone);
  cursor: pointer;
}

.mob__soc--list {
  display: flex;
  flex-direction: row;
}

.mob__soc--item {
  margin-left: 10px;
}
.mob__soc--item:first-child {
  margin-left: 0;
}

.mob__soc--link {
  color: var(--blueone);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */