.portfolio-header {
  display: none;
}
.portfolio-rubrication {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-often);
    padding-bottom: var(--padding-often);
  }
}
.portfolio-rubrication-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: var(--whiteone);
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 21px;
  transition-property: border, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.portfolio-rubrication-button:hover {
  background: var(--blueone);
  color: var(--whiteone);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-rubrication-item {
  margin-right: 8px;
}
.portfolio-rubrication-button:focus {
  background: var(--blueone);
  color: var(--whiteone);
  outline: none;
}

.portfolio-rubrication-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 46px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 56px;
  }
}
.portfolio-projects-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: none;
  transition-property: border, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
